<h1>@ViewBag.title</h1>

<h3>@ViewBag.jobs.Count Result(s)</h3>

@{
    // TODO #3 - Use the same list display from Views/Search/Index.cshtml
}
@if (ViewBag.jobs != null)
{

    // TODO #2 - Loop over jobs dictionary and display all job fields
    @foreach (var job in ViewBag.Jobs)
    {

        
        <table class="table job-listing">

            @foreach (KeyValuePair<string, string> jobfield in job)
            {
                <tr>
                    <td>@jobfield.Key</td>
                    <td>@jobfield.Value</td>
                </tr>
            }

        </table>
    }

}